@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Turret+Road:wght@200;300;400;500;700;800&display=swap");

footer {
    background-color: rgb(31, 31, 31);
    width: 100%;

    padding: 2vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: rgb(197, 197, 197);
    font-family: "Turret Road", sans-serif;
    font-weight: bold;



    position: relative;
}

footer::before {
    content: "";

    height: 2vh;

    position: absolute;
    top: -2vh;
    width: 100%;

    background: rgb(31, 31, 31);
    background: linear-gradient(0deg, rgba(31, 31, 31, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

footer p {
    padding: 0.2vh;
}