* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p,
li,
ul,
div {
    cursor: default;
}

body {
    overflow: auto;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0;
    /* hide scrollbar */
}

#particles-js {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 50;
}